# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.lua]
charset = utf-8
indent_size = 2
indent_style = space

[Makefile]
charset = ascii
indent_style = tab

